@import "../../Containers/App/_mixinis.scss";
@import "../../Containers/App/_variables.scss";
.txt_btn{
    width: 7.938rem;
    height: 1rem;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #ffffff;
}
.btn_confirm {
  @extend .txt_btn;
  display:flex;
  justify-content:center;
  text-align: center;
  border-radius: 5px;
  box-shadow:1.25rem 1.25rem 3.75rem 0 rgba(0, 0, 0, 0.4);
  background-color: #ec1c24;
  width: 12.688rem;
  height: 3.125rem;
  margin: 3.125rem 0 0;
  padding: 0.8rem 0.75rem 0.9rem 0.9rem;
  &:hover{
    border: solid 1px #ec1c24;
  }
  @include breakpoint-down(medium){
   align-self: center;
  }
}
.error_div {
  &_msg{
    align-self: flex-start;
    display: flex;
    justify-content:flex-start;
    font-family: Roboto;
    font-size:1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  p{
    margin-top: 0.5rem;
    text-align: center;
    margin-inline-end: 1.5rem;
    font-family: Roboto;
    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  display:flex;
  justify-content:flex-end;
  width: 28.75rem;
  height: 1.875rem;
  //padding: 0.375rem 1.25rem 0.313rem 17.688rem;
  border-radius: 5px;
  background-color: #ec1c24;
  @include breakpoint-down(medium){
    width:18.75rem;
  }
}
.form_div{
  order:2;
  align-content: flex-start;
  display: flex;
flex-direction: column;
  margin-block-start: 15rem;
  margin-inline-start: 3rem;
  @include breakpoint-down(medium){
    margin-block-start: 7rem;
    margin-inline-start: 2.125rem;
  }
  @include breakpoint-up(large){
    margin-block-start: 3rem;
    margin-inline-start: 0;

  }
  &_ele{
    width: 28.75rem;
    height: 3.125rem;
    margin: 0.938rem 0 0;
    padding: 0.938rem 2.063rem 0.875rem 1.875rem;
    border-radius: 5px;
    border: solid 1px #bfc4ce;
    background-color: #ffffff;
    @include breakpoint-down(medium){
     width:18.75rem;
    }
    &:hover{
      border: solid 1px #ec1c24;
    }
    &:active{
      border: solid 1px #ec1c24;
    }
   
  }
  option{
    font-family: Roboto;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
h4{
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.71px;
  color: #595f6f;
  margin-block-start: 0.78rem;
}
  form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  select{
    border-radius: 5px;
    border: solid 1px #bfc4ce;
    display:flex;
    justify-content:flex-start;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    background:url(../../assets/icons/grey-arrow.svg);
    background-repeat: no-repeat;
    background-size: 1rem 0.9rem;
    background-position: 25.5rem 1.2rem;
    @include breakpoint-down(medium){
      background-position: 14.5rem 1.2rem !important;
    }
}
  label{
    margin-top: 0.75rem;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #595f6f;
  }
 h4, label{
    display: flex;
  }
@include breakpoint-up(large){
  width: 50%;
}
}