@import "../../Containers/App/_mixinis.scss";
@import "../../Containers/App/_variables.scss";


.item{
  margin-block-start: 2.79rem;
  align-content: baseline;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  &_number{
    margin-block-start: auto;
    display: flex;
    margin-inline:0.9rem;
    flex-direction:column-reverse;
  p{
align-self:center;

  }
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 4.188rem;
    box-shadow: 20px 20px 60px 0 rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(225deg, #ec1c24, #f91c3d);
  }
  &_txt{
    display: flex;
    flex-direction:column;
    align-content: flex-start;
    align-items: flex-start;
    h3{
      width: 200px;
      height: 21px;
      display: flex;
      order:1;
      font-family: $font-family;
      font-size: 1rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.44px;
      text-align: center;
      color: #ffffff;
      @include breakpoint-up(large){
        width: 200px;
        height: 21px;
      }
    }
    p{
      width: 22.125rem;
      height: 1.125rem;
      display: flex;
      order:2;
      font-family:  $font-family;
      font-size: 0.885rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: normal;
      color: #ffffff;
      white-space:nowrap;
      @include breakpoint-up(large){
        white-space:unset;
      }
      @include breakpoint-down(small){
        white-space:unset;
        width:18.75rem;
        height:1.125rem;
      }
    }
  }
}