@import "../../Containers/App/_mixinis.scss";
@import "../../Containers/App/_variables.scss";
.txt_{
  color: #ffffff;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: -0.63px;
}
.bidding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  img{
    width: 59px;
    height: 60px;
    object-fit: contain;
    align-self: center;
    margin-bottom: 2rem;
  }
  h3{
    @extend .txt_;
    align-self: center;
    font-size: $font-bid;
    white-space: nowrap;
    @include breakpoint-down(medium){
      white-space:unset;
      font-size:$font-med;
      width:20.938rem;
    }
    @include breakpoint-down(small){
      font-size:$font-med;
      width:20.938rem;
    }
  }
  p{
    @extend .txt_;
    font-weight: normal;
    font-size: $font-sm;
    width:20.938rem;
    @include breakpoint-up(medium){
     font-size:$font-med;
      white-space: nowrap;
      text-align: center;
    }
    @include breakpoint-down(medium){
      font-size:$font-sm;
      white-space: unset;
      text-align: center;
    }
    @include breakpoint-down(small){
      font-size:0.9rem;
      align-self: center;
    }
  }
}
