@import "../../Containers/App/_mixinis.scss";
@import "../../Containers/App/_variables.scss";


.service_card {
  display: flex;
  width: 22.5rem;
  height: 15.438rem;
  margin: 0 40px 0 0;
  border-radius: 5px;
  border: solid 1px #dddfe7;
  background-color: #ffffff;
  justify-content:space-around;
  @include breakpoint-down(medium){
    width:22.8rem;
    height:15.5rem;
    margin: 0 auto;
    margin-top: 1.8rem;
  }

  &_item{
    display: flex;
    align-self: center;
    width:50%;
    @include breakpoint-up(large){
      margin-inline-start: -4rem;
    }
    @include breakpoint-down(medium){
      width:100%;
      flex-direction:column;
      align-items:center;
      order: 1;
      align-content: center;
      margin-block-start: 1.5rem;
    }

    &_img{

      width: 40px;
      height: 50px;

      @include breakpoint-up(large){
        margin-block-start: 3rem;
      }
      @include breakpoint-down(medium){
        margin-block-start: 3rem;
        margin: 0 auto;
      }
    }
    &_content{
      align-self: center;
    display: flex;
      align-items:center;
      flex-direction:column;
      @include breakpoint-up(large){
        margin-inline-start: 1.8rem;
      }
      h3{
        display: flex;
        margin-top: 1rem;
        align-self: flex-start;
        width: 11.25rem;
        height:1.5rem;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.5px;
        color: #595f6f;
        text-align: center;
        @include breakpoint-down(medium){
          width:10.438rem;
          align-self: center;
          justify-content: center;
        }
      }
      p{
        @include breakpoint-down(medium){
         text-align:center;
          align-self: flex-start;
          justify-content: center;

        }
        display: flex;
        align-self: flex-start;
        margin-top: 0.4rem;
        width: 180px;
        height: 5.26rem;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        color: #595f6f;
        @include breakpoint-down(medium){
         width:21.375rem;
        }

      }
  }
  }
}
