@import "../../Containers/App/_mixinis.scss";
@import "../../Containers/App/_variables.scss";
.txt_How{
  font-family: Roboto;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.97px;
}
.MuiListItem-gutters {
  @include breakpoint-up(large){
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  p{
    align-self: flex-start !important;
    justify-content: flex-start;
    display: flex;
  }
}

.howItWorks{
  padding:6rem;
  @include breakpoint-up(large){
    padding:4rem;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    margin-inline-start: 7rem;
    margin-block-start: 2rem;

  }

>h3{
   @extend .txt_How;
  color: #ffffff;
  font-size: $font-med;
  @include breakpoint-up(large){
    font-size: 2.188rem;

  }
  @include breakpoint-down(medium){
    font-size: 1.188rem;
  }
}
  ul{
    right: 2rem;
    @include breakpoint-down(medium){
      right:5rem;
    }
    @include breakpoint-down(small){
      right:6rem;
      white-space:nowrap;
    }
  }
  >p{
@extend .txt_How;
    font-weight: normal;
    letter-spacing: -0.5px;
    font-size:$font-sm;
    @include breakpoint-up(large){
      font-size: $font-med;
    }
    @include breakpoint-down(small){
    white-space:nowrap;
  }
  }

 &_ico{
   margin: 1rem;
   padding: 1.4rem;
   width: 3.125rem;
   height:3.125rem;
   border-radius: 67px;
   box-shadow: 20px 20px 60px 0 rgba(0, 0, 0, 0.4);
   background-image: linear-gradient(225deg, #ec1c24, #f91c3d);
   @include breakpoint-down(small){
     width: 0.3rem;
     height: 0.3vh;
   }
   >p{
     align-self: center;
     width: 14px;
     height: 24px;
     font-family: Roboto;
     font-size: $font-med;
     font-weight: bold;
     font-stretch: normal;
     font-style: normal;
     line-height: 1;
     letter-spacing: -0.6px;
     text-align: center;
     color: #ffffff;
     @include breakpoint-down(small){
       font-size: 13px;
     }
     @include breakpoint-up(large){
       font-size: 24px;
     }

   }
 }
  }


.title{
  width: 6.875rem;
  height:1.313rem;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.44px;
  text-align: center;
  color: #ffffff;
  @include breakpoint-down(small){
   font-size: 1rem;
  }
}
.subtitle {
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #ffffff;
  @include breakpoint-down(small){
    font-size: 0.875rem;
  }
}
