@import "./_variables.scss";
@import './_mixinis.scss';
@import "../Home/_Home.scss";
@import "../../Components/Layout/Header/_Header.scss";
@import "../../Components/Video/video.scss";

@import "../../Components/Background/_background.scss";
@import "../StartToday/_styles.scss";



.car-container{
  width: 100%;
  height:  557vh;
  margin: 0 auto;
  padding: 0;
  @include breakpoint-down(medium){
    height: 785vh;
  }


}
